@import url(default.css);
@import url(fonts.css);
@import url(common.css);


header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-height);
    color: var(--color-white);
    fill: var(--color-white); /* svg 아이콘 색상 */
    display: flex; /* logo- gnb- util 좌우배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-white-space);
    transition: .4s;
}
header .logo a {
    display: block;
    width: 221px;
    height: 36px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    transition: 0.4s;
}
header .util {
    display: flex;
}
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .search .sch_open i {
    display: block;
    width: 25px;
    margin: 3px 0 0 0;
}
header .util .mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .mypage i {
    display: block;
    width: 22.67px;
    margin: 2px 0 0 0;
}

/* header에 fixed 클래스가 추가 되었을 때 */
header.fixed {
    background-color: #fff;
    color: var(--font-color-main);
    fill: var(--font-color-main);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
}
header.fixed .logo a {
    background: url(../images/logo.svg) no-repeat center center / contain;
}

/******************* 시작 : pc메뉴 ****************************/
@media screen and (min-width:1025px){ /* 1024사이즈 이하부터 메뉴가 접힘 = 1025이상일 때 스타일 */
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close,
    header .gnb .gnb_open {
        display: none; /* 모바일에서만 보임 */
    }
    header .gnb {
        padding: 0 20px;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* 메뉴들을 좌우 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 24px;
        font-weight: var(--font-weight-bold);
        line-height: var(--header-height);
        padding: 0 1em;
        white-space: nowrap;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute; /* li를 기준으로 정렬 */
        left: 50%; /* li넓이의 절반 */
        transform: translate(-50%); /* depth2 넓이의 절반 */
        top: var(--header-height);
        background-color: #0F4C81;
        border-radius: 0 0 0.5882em 0.5882em;
        color: var(--color-white60);
        min-width: 100%; /* 최소 넓이는 li의 넓이만큼 */
        padding: 0.7059em 1.7647em;
        display: none; /* hover 했을때만 나타남 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 6px 0;
        white-space: nowrap;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 1px;
        background-color: var(--color-white60);
        transition: .3s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover span::before {
        width: 100%;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--font-weight-bold);
        color: var(--color-white);
    }

    /* menu에 오버 했을 때 */

    header.menu_pc {
        background-color: #fff;
        color: var(--font-color-main);
        fill: var(--font-color-main);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    }
    header.menu_pc .logo a {
        background: url(../images/logo.svg);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--main-color3);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a:hover > span::before {
        display: block;
    }
    
}
/* 1025이상에서 1280이하 그 사이에서만 적용되는 스타일 */
@media screen and (min-width:1025px) and (max-width:1280px){
    header .logo a {
        width: 180px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 20px;
    }
}
/******************* 끝 : pc메뉴 ****************************/
/******************* 시작 : 모바일 ****************************/
@media screen and (max-width:1024px){
    header {
        padding-right: 0;
        height: var(--header-var);
        transition: .4s;
    }
    header .logo a {
        /* width: 142.81px;
        height: 23.41px;
        transition: 0.4s; */
        width: clamp(142.81px, 18vw, 221px); /* 최솟값 - 평균값*100vw가 브라우저 최대값임 - 최댓값 */
    }
    header .util {
        display: none;
    }
    header .gnb .gnb_open {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--header-var);
        height: var(--header-var);
    }
    header .gnb .gnb_open i {
        display: block;
        width: 31.6%;
    }
    header .gnb .gnb_wrap {
        /* display: none; */
        position: absolute; /* header를 기준으로 정렬 */
        right: -120%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--color-white);
        color: var(--font-color-main);
        fill: var(--font-color-main);
        transition: right 0.2s;
    }

    /* 메뉴가 열렸을 때 */
    header.menu_mo .gnb .gnb_wrap {
        /* display: block; */
        right: 0;
    }
    header.menu_mo .gnb .gnb_wrap .depth1 {
        margin: var(--header-var) 0 0 0;
        height: calc(100dvh - var(--header-var));
        overflow-y: auto; /* 주어진 높이보다 콘텐츠가 짫으면 스크롤바 x
                             주어진 높이보다 콘텐츠가 더 긴 경우에만 스크롤바 O */
        padding: 7px 0 0 0;
    }
    header.menu_mo .gnb .gnb_wrap .depth1 > li > a {
        display: block;
        font-size: 20px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-title);
        padding: 14px 50px 14px var(--wrapper-white-space);
        position: relative;
        border-bottom: 1px solid var(--line-color);
    }
    header.menu_mo .gnb .gnb_wrap .depth1 > li > a::after {
        content: "";
        position: absolute;
        right: var(--wrapper-white-space);
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 5' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.60664 3.85625L0.887891 1.1375C0.850391 1.1 0.822266 1.05938 0.803516 1.01563C0.784766 0.971875 0.775391 0.925 0.775391 0.875C0.775391 0.775 0.809766 0.6875 0.878516 0.6125C0.947266 0.5375 1.03789 0.5 1.15039 0.5H6.85039C6.96289 0.5 7.05352 0.5375 7.12227 0.6125C7.19102 0.6875 7.22539 0.775 7.22539 0.875C7.22539 0.9 7.18789 0.9875 7.11289 1.1375L4.39414 3.85625C4.33164 3.91875 4.26914 3.9625 4.20664 3.9875C4.14414 4.0125 4.07539 4.025 4.00039 4.025C3.92539 4.025 3.85664 4.0125 3.79414 3.9875C3.73164 3.9625 3.66914 3.91875 3.60664 3.85625Z'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: .5s;
    }
    header.menu_mo .gnb .gnb_wrap .depth1 > li.open > a {
        color: var(--main-color3);
    }
    header.menu_mo .gnb .gnb_wrap .depth1 > li.open > a::after {
        transform: translateY(-50%) rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 5' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.60664 3.85625L0.887891 1.1375C0.850391 1.1 0.822266 1.05938 0.803516 1.01563C0.784766 0.971875 0.775391 0.925 0.775391 0.875C0.775391 0.775 0.809766 0.6875 0.878516 0.6125C0.947266 0.5375 1.03789 0.5 1.15039 0.5H6.85039C6.96289 0.5 7.05352 0.5375 7.12227 0.6125C7.19102 0.6875 7.22539 0.775 7.22539 0.875C7.22539 0.9 7.18789 0.9875 7.11289 1.1375L4.39414 3.85625C4.33164 3.91875 4.26914 3.9625 4.20664 3.9875C4.14414 4.0125 4.07539 4.025 4.00039 4.025C3.92539 4.025 3.85664 4.0125 3.79414 3.9875C3.73164 3.9625 3.66914 3.91875 3.60664 3.85625Z'/%3E%3C/svg%3E%0A");
    }
    header.menu_mo .gnb .gnb_wrap .depth1 > li > a > span {
        font-family: 'ImHyeMin';
    }
    header.menu_mo .gnb .gnb_wrap .depth1 > li > ul.depth2 {
        background-color: #f7f7f7;
        padding: 15px var(--wrapper-white-space) 15px calc(var(--wrapper-white-space) + 14px);
        display: none; /* 1차 메뉴가 활성화 되었을 때 작동 */
    }
    header.menu_mo .gnb .gnb_wrap .depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 5px 0 5px 0;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap을 기준으로 정렬 */
        left: var(--wrapper-white-space);
        top: 0;
        width: clamp(142.81px, 18vw, 221px);
        height: var(--header-var);
        background: url(../images/logo.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute;
        right: 0;
        top: 0;
        width: var(--header-var);
        height: var(--header-var);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .gnb .gnb_wrap .gnb_close i {
        display: block;
        fill: var(--font-color-main);
        width: 23.48%;
    }
    
}

.visual {
    position: relative; /* button_wrap 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이 최대치 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);

    display: flex; /* wrapper를 바닥으로 내리기 위해 */
    align-items: flex-end;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_01.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_02.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_03.jpg);
}
.visual .swiper-slide .tit {
    margin: 0 0 calc(18vh + 92px) 0;
}
.visual .swiper-slide strong {
    /* font-size: 24px; */
    font-size: clamp(16px, 2vw, 24px);
    color: var(--main-color);
    transition: .8s;
    transition-delay: .5s;
    transform: translate(0, 40px);
    opacity: 0;
}
.visual .swiper-slide h3 {
    /* font-size: 60px; */
    font-size: clamp(24px, 5vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    transition: .8s;
    transition-delay: 0.7s;
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active strong,
.visual .swiper-slide.swiper-slide-active h3 {
    opacity: 1;
}
.visual .btn_wrap {
    position: absolute;
    left: calc(50% - 630px);
    bottom: 18vh;
    z-index: 1;
    color: var(--color-white);
    display: flex;
    gap: 0 18px;
}
.visual .btn_wrap .paging {
    display: flex;
    align-items: center;
    gap: 0 16px;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    font-family: "pretendard";
}
.visual .btn_wrap .paging .bar {
    width: 200px;
    height: 5px;
    background-color: var(--color-white30);
    position: relative;
}
.visual .btn_wrap .paging .bar span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .btn_wrap .stop,
.visual .btn_wrap .play {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual .btn_wrap i {
    margin: 6px 0 0 0;
}
.visual .btn_wrap .stop i {
    display: block;
    width: 12px;
}
.visual .btn_wrap .play i {
    display: block;
    width: 12px;
}
.visual .btn_wrap .play {
    display: none;
}
@media screen and (max-width:1320px){
    .visual .btn_wrap {
        left: 30px;
    }
}
@media screen and (max-width:768px){
    .visual .btn_wrap {
        left: 16px;
    }

    .visual .swiper-slide {
        height: 800px; /* 브라우저 높이 최대치 */
    }
    .visual .swiper-slide.bg1 {
        background-image: url(../images/mobbg_01.jpg);
    }
    .visual .swiper-slide.bg2 {
        background-image: url(../images/mobbg_02.jpg);
    }
    .visual .swiper-slide.bg3 {
        background-image: url(../images/mobbg_03.jpg);
    }
    .visual .swiper-slide .tit {
        margin: 0 0 153px 0;
    }
    .visual .swiper-slide strong {
        font-size: 16px;
    }
    .visual .swiper-slide h3 {
        font-size: 24px;
    }
    .visual .btn_wrap {
        bottom: 13px;
        gap: 0 8px;
    }
    .visual .btn_wrap .paging {
        gap: 0 8px;
    }
    .visual .btn_wrap .paging .bar {
        width: 120px;
        height: 3px;
    }
}
.find {
    background-color: var(--background-color);
    color: var(--color-white);
    /* padding: 164px 0 128px 0; */
    padding: clamp(61px , 12vw, 164px) 0 clamp(63px, 8vw, 128px) 0;
    fill: var(--color-white);
}
.find h2 {
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
}
.find .tap_list {
    margin: 31px 0 0 0;
}
.find .tap_list ul {
    display: flex;
    justify-content: center;
    gap: 0 24px;
}
.find .tap_list ul li button {
    display: block;
    padding: 0.3333em 0.625em 0.3333em 0.625em;
    border-radius: 30px;
    background-color: var(--main-color2);
    border: 1px solid var(--main-color2);
    font-size: var(--font-size-title3);
    font-weight: var(--font-weight-bold);
    opacity: .8;
}
.find .tap_list ul li.active button {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    opacity: 1;
}
.find .tap_content {
    margin: 25px 0 0 0;
}
.find .tap_content .tap_item {
    position: relative;
    display: none; /* active 클래스가 있는 li만 활성화 */
}
.find .tap_content .tap_item.active {
    display: block; /* active 클래스가 있는 li만 활성화 */
}
.find .tap_content .tap_item .list .swiper-slide {
    width: 284px;
}
.find .tap_content .tap_item .list .swiper-slide a {
    display: block;
}
.find .tap_content .tap_item .list .swiper-slide a .photo {
    overflow: hidden;
    height: 465px;
    border-radius: 15px;
}
.find .tap_content .tap_item .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.find .tap_content .tap_item .list .swiper-slide a .txt h4 {
    display: flex; /* strong - span 좌우 배치 */
    justify-content: center;
    align-items: flex-end;
    gap: 0 13px;
    margin: 15px 0 0 0;
}
.find .tap_content .tap_item .list .swiper-slide a .txt h4 strong {
    font-size: 28px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    /* 1줄 제한..원래 안될텐데 왜 됨????? */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.find .tap_content .tap_item .list .swiper-slide a .txt h4 span {
    font-family: "ImHyemin";
    font-weight: var(--font-weight-bold);
    font-size: 17px;
    color: var(--color-white60);
}
.find .tap_content .tap_item .list .swiper-slide a .txt ul {
    margin: 10px 0 0 0;
}
.find .tap_content .tap_item .list .swiper-slide a .txt ul li {
    display: flex;
    align-items: flex-end;
}
.find .tap_content .tap_item .list .swiper-slide a .txt ul li strong {
    color: var(--color-white80);
    width: 4em;
}
.find .tap_content .tap_item .list .swiper-slide a .txt ul li span {
    width: calc(100% - 4em);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 0 0 14px;
}
.find .tap_content .tap_item .prev {
    position: absolute;
    z-index: 5;
    left: -24px;
    top: 208px;
}
.find .tap_content .tap_item .next {
    position: absolute;
    z-index: 5;
    right: -24px;
    top: 208px;
}
.find .tap_content .tap_item .more {
    position: absolute;
    right: 0;
    top: -46px;
    display: flex;
    align-items: center;
    gap: 0 13.65px;
}
.find .tap_content .tap_item .more i {
    display: block;
    width: 6.28px;
}
.find .tap_content .tap_item .prev,
.find .tap_content .tap_item .next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 50%;
}
.find .tap_content .tap_item .prev i,
.find .tap_content .tap_item .next i {
    display: block;
    width: 10.37px;
    margin: 7px 0 0 0;
}
@media screen and (max-width:768px){
    .find .tap_list {
        margin: 20px 0 0 0;
    }
    .find .tap_list ul {
        gap: 0 16px;
    }
    .find .tap_list ul li button {
        padding: 6px 16px 6px 16px;
        border-radius: 5px;
        font-size: var(--font-size-basic);
    }
    .find .tap_content {
        margin: 16px 0 0 0;
    }
    .find .tap_content .tap_item .list .swiper-slide a .photo {
        height: 327px;
        border-radius: 7px;
    }
    .find .tap_content .tap_item .list .swiper-slide a .txt h4 {
        gap: 0 10px;
        margin: 16px 0 0 0;
    }
    .find .tap_content .tap_item .list .swiper-slide a .txt h4 strong {
        font-size: 22px;
    }
    .find .tap_content .tap_item .list .swiper-slide a .txt h4 span {
        font-size: var(--font-size-basic);
    }
    .find .tap_content .tap_item .more {
        position: relative;
        right: auto;
        top: auto;
        margin: 23px 0 0 0;
        display: flex;
        justify-content: center;
        background-color: #4d4d4d;
        border-radius: 5px;
        padding: 5px 15px 5px 15px;
    }
    .find .tap_content .tap_item .more i {
        display: block;
        width: 6.28px;
    }
    .find .tap_content .tap_item .prev,
    .find .tap_content .tap_item .next {
        display: none;
    }
    .find .tap_content .tap_item .prev i,
    .find .tap_content .tap_item .next i {
        display: block;
        width: 10.37px;
        margin: 7px 0 0 0;
    }
}
.slogan {
    margin: clamp(69px, 8vw, 122px) 0 clamp(84px, 7vw, 114px) 0;
    text-align: center;
}
.slogan h2 {
    font-size: clamp(30px, 4vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: 2.5;
    color: var(--font-color-main);
}
.slogan h2 br.mo_only {
    display: none; /* 모바일에서만 보임 */
}
.slogan h2 strong {
    display: inline-block;
    position: relative; /* before 정렬의 기준 */
    vertical-align: middle; /* 위 아래 가운데 */
}
.slogan h2 strong::before {
    content: "";
    position: absolute; /* strong을 기준으로 정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* 상하좌우 가운데 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2em;
    width: 100%;
}
.slogan h2 strong.place {
    width: 2.5em;
}
.slogan h2 strong.place::before {
    background-image: url(../images/slogan_place.png);
}
.slogan h2 strong.animal {
    width: 2.75em;
}
.slogan h2 strong.animal::before {
    background-image: url(../images/slogan_animal.png);
}
.slogan h2 strong.center {
    width: 2.5em;
}
.slogan h2 strong.center::before {
    background-image: url(../images/slogan_center.png);
}
.slogan h2 strong.call {
    width: 2.6667em;
}
.slogan h2 strong.call::before {
    background-image: url(../images/slogan_call.png);
}
.slogan p {
    margin: 21px 0 0 0;
    color: var(--font-color-main);
}
@media screen and (max-width:768px){
    .slogan h2 {
        line-height: 2;
    }
    .slogan h2 br.mo_only {
        display: block; /* 모바일에서만 보임 */
    }
    .slogan p {
        display: none;
    }
}
.adopt {
    background-color: var(--background-color);
    color: var(--color-white);
    padding: clamp(97px, 10.5vw, 178px) 0 clamp(166px, 20vw, 342px) 0;
    position: relative; /* more정렬의 기준 */
    fill: var(--color-white);
    overflow-x: hidden;
}
.adopt .tit h2 {
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
}
.adopt .list {
    margin: clamp(42px, 5vw, 75px) 0 0 0;
}
.adopt .list .swiper-slide {
    width: clamp(205px, 18vw, 297px);
}
.adopt .list .swiper-slide a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.adopt .list .swiper-slide a .photo {
    overflow: hidden;
    height: clamp(205px, 18vw, 297px);
    border-radius: 50%;
}
.adopt .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.adopt .list .swiper-slide a .cate {
    background-color: var(--main-color);
    border-radius: 25px;
    padding: 0.4706em 1.1765em 0.4706em 1.1765em;
    margin-top: -1.8824em; /* 마진은 마이너스 값이 적용 가능함 */
}
.adopt .list .swiper-slide a .cate.cate2 {
    background-color: var(--main-color2);
}
.adopt .list .swiper-slide a h3 {
    font-size: var(--font-size-title3);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    margin: 0.2083em 0 0.4167em 0;
}
.adopt .list .swiper-slide a p {
    overflow: hidden;
    line-height: 1.5;
    height: 3em;
    margin: 0 8% 0 8%;
}
.adopt .more {
    position: absolute; /* adopt를 기준으로 정렬 */
    right: calc(50% - 630px);
    top: clamp(97px, 12vw, 178px);
}
.adopt .more a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 13.65px;
}
.adopt .more a i {
    display: block;
    width: 6.28px;
}
@media screen and (max-width:1320px){
    .adopt .more {
        right: var(--wrapper-white-space);
    }
}
.adopt .ctn_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 25px;
    margin: clamp(16px, 3vw, 24px);
}
.adopt .ctn_btn .prev,
.adopt .ctn_btn .next {
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 50%;
}
.adopt .ctn_btn .prev i {
    display: block;
    width: 20px;
    vertical-align: middle;
    right: 50%;
    transform: translate(60%);
    margin: 6px 0 0 0;
}
.adopt .ctn_btn .next i {
    display: block;
    width: 20px;
    vertical-align: middle;
    right: 50%;
    transform: translate(90%);
    margin: 6px 0 0 0;
}
.adopt .rolling {
    position: absolute; /* adopt를 기준으로 정렬 */
    left: 0;
    bottom: 8%;
    width: 100%;
    font-size: clamp(60px, 8.3vw, 120px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    color: var(--color-white10);
    white-space: nowrap; /* 줄바꿈 금지 */
}
.adopt .rolling p {
    position: absolute; /* rolling을 기준으로 정렬 */
    left: 0;
    bottom: 0;
    transform: translateX(-50.21%);
    animation: adopt_roll 30s linear infinite;
}
@keyframes adopt_roll {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50.21%);}
}
@media screen and (max-width:768px){
    .adopt .ctn_btn .prev,
    .adopt .ctn_btn .next {
        display: none;
    }
    .adopt .more {
        position: absolute; /* adopt를 기준으로 정렬 */
        right: 50%;
        transform: translate(50%);
        top: auto;
        display: block;
        background-color: #4d4d4d;
        border-radius: 25px;
        padding: 8px 20px 8px 20px;
    }
    .adopt .more a {
        justify-content: center;
    }
    .adopt .rolling {
        bottom: 3%;
    }
}


footer {
    margin: 2200px 0 0 0;
}