@import url(default.css);
@import url(fonts.css);
@import url(common.css);

section h2,
section h3 {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    line-height: 1.4;
}
section .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
}
section .tit p {
    margin: 10px 0 0 0;
}

header {
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    color: #fff;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
}
header .logo a {
    display: block;
    width: 160px;
    height: 25px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* contain은 모바일 환경에서 사이즈가 줄어들어도 이미지 손상을 막기 위해 주는 명령어 */
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일 환경에서 활성화 */
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-family: 'Eulyoo1945';
    font-size: 20px;
    font-weight: 700;
    line-height: 90px; /* header의 높이와 동일하게 줘야함 */
    padding: 0 25px;
}
header .util {
    display: flex;
}
header .util .mypage,
header .util .search .search_open {
    display: block;
    width: 55px;
    height: 55px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_195' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='33'%3E%3Crect width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_195)'%3E%3Cpath d='M8.04375 23.5125C9.2125 22.6187 10.5188 21.9141 11.9625 21.3984C13.4063 20.8828 14.9187 20.625 16.5 20.625C18.0813 20.625 19.5938 20.8828 21.0375 21.3984C22.4813 21.9141 23.7875 22.6187 24.9562 23.5125C25.7583 22.5729 26.3828 21.5073 26.8297 20.3156C27.2766 19.124 27.5 17.8521 27.5 16.5C27.5 13.4521 26.4286 10.8568 24.2859 8.71406C22.1432 6.57135 19.5479 5.5 16.5 5.5C13.4521 5.5 10.8568 6.57135 8.71406 8.71406C6.57135 10.8568 5.5 13.4521 5.5 16.5C5.5 17.8521 5.72344 19.124 6.17031 20.3156C6.61719 21.5073 7.24167 22.5729 8.04375 23.5125ZM16.5 17.875C15.1479 17.875 14.0078 17.4109 13.0797 16.4828C12.1516 15.5547 11.6875 14.4146 11.6875 13.0625C11.6875 11.7104 12.1516 10.5703 13.0797 9.64219C14.0078 8.71406 15.1479 8.25 16.5 8.25C17.8521 8.25 18.9922 8.71406 19.9203 9.64219C20.8484 10.5703 21.3125 11.7104 21.3125 13.0625C21.3125 14.4146 20.8484 15.5547 19.9203 16.4828C18.9922 17.4109 17.8521 17.875 16.5 17.875ZM16.5 30.25C14.5979 30.25 12.8104 29.8891 11.1375 29.1672C9.46458 28.4453 8.00938 27.4656 6.77187 26.2281C5.53437 24.9906 4.55469 23.5354 3.83281 21.8625C3.11094 20.1896 2.75 18.4021 2.75 16.5C2.75 14.5979 3.11094 12.8104 3.83281 11.1375C4.55469 9.46458 5.53437 8.00938 6.77187 6.77187C8.00938 5.53437 9.46458 4.55469 11.1375 3.83281C12.8104 3.11094 14.5979 2.75 16.5 2.75C18.4021 2.75 20.1896 3.11094 21.8625 3.83281C23.5354 4.55469 24.9906 5.53437 26.2281 6.77187C27.4656 8.00938 28.4453 9.46458 29.1672 11.1375C29.8891 12.8104 30.25 14.5979 30.25 16.5C30.25 18.4021 29.8891 20.1896 29.1672 21.8625C28.4453 23.5354 27.4656 24.9906 26.2281 26.2281C24.9906 27.4656 23.5354 28.4453 21.8625 29.1672C20.1896 29.8891 18.4021 30.25 16.5 30.25ZM16.5 27.5C17.7146 27.5 18.8604 27.3224 19.9375 26.9672C21.0146 26.612 22 26.1021 22.8938 25.4375C22 24.7729 21.0146 24.263 19.9375 23.9078C18.8604 23.5526 17.7146 23.375 16.5 23.375C15.2854 23.375 14.1396 23.5526 13.0625 23.9078C11.9854 24.263 11 24.7729 10.1062 25.4375C11 26.1021 11.9854 26.612 13.0625 26.9672C14.1396 27.3224 15.2854 27.5 16.5 27.5ZM16.5 15.125C17.0958 15.125 17.5885 14.9302 17.9781 14.5406C18.3677 14.151 18.5625 13.6583 18.5625 13.0625C18.5625 12.4667 18.3677 11.974 17.9781 11.5844C17.5885 11.1948 17.0958 11 16.5 11C15.9042 11 15.4115 11.1948 15.0219 11.5844C14.6323 11.974 14.4375 12.4667 14.4375 13.0625C14.4375 13.6583 14.6323 14.151 15.0219 14.5406C15.4115 14.9302 15.9042 15.125 16.5 15.125Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_192' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='33'%3E%3Crect width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_192)'%3E%3Cpath d='M13.0625 22C10.5646 22 8.45052 21.1349 6.72031 19.4047C4.9901 17.6745 4.125 15.5604 4.125 13.0625C4.125 10.5646 4.9901 8.45052 6.72031 6.72031C8.45052 4.9901 10.5646 4.125 13.0625 4.125C15.5604 4.125 17.6745 4.9901 19.4047 6.72031C21.1349 8.45052 22 10.5646 22 13.0625C22 14.0708 21.8396 15.0219 21.5188 15.9156C21.1979 16.8094 20.7625 17.6 20.2125 18.2875L27.9125 25.9875C28.1646 26.2396 28.2906 26.5604 28.2906 26.95C28.2906 27.3396 28.1646 27.6604 27.9125 27.9125C27.6604 28.1646 27.3396 28.2906 26.95 28.2906C26.5604 28.2906 26.2396 28.1646 25.9875 27.9125L18.2875 20.2125C17.6 20.7625 16.8094 21.1979 15.9156 21.5188C15.0219 21.8396 14.0708 22 13.0625 22ZM13.0625 19.25C14.7812 19.25 16.2422 18.6484 17.4453 17.4453C18.6484 16.2422 19.25 14.7812 19.25 13.0625C19.25 11.3438 18.6484 9.88281 17.4453 8.67969C16.2422 7.47656 14.7812 6.875 13.0625 6.875C11.3438 6.875 9.88281 7.47656 8.67969 8.67969C7.47656 9.88281 6.875 11.3438 6.875 13.0625C6.875 14.7812 7.47656 16.2422 8.67969 17.4453C9.88281 18.6484 11.3438 19.25 13.0625 19.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed {
    position: fixed;
    height: 80px;
    color: #1d1d1d;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
header.fixed .gnb .gnb_wrap ul li a {
    line-height: 80px; /* header의 높이와 동일하게 줘야함 */
}
header.fixed .logo a {
    background: url(../images/logo.svg) no-repeat center center / contain;
    /* contain은 모바일 환경에서 사이즈가 줄어들어도 이미지 손상을 막기 위해 주는 명령어 */
}
header.fixed .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_285' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='33'%3E%3Crect width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_285)'%3E%3Cpath d='M8.04375 23.5125C9.2125 22.6187 10.5188 21.9141 11.9625 21.3984C13.4063 20.8828 14.9187 20.625 16.5 20.625C18.0813 20.625 19.5938 20.8828 21.0375 21.3984C22.4813 21.9141 23.7875 22.6187 24.9562 23.5125C25.7583 22.5729 26.3828 21.5073 26.8297 20.3156C27.2766 19.124 27.5 17.8521 27.5 16.5C27.5 13.4521 26.4286 10.8568 24.2859 8.71406C22.1432 6.57135 19.5479 5.5 16.5 5.5C13.4521 5.5 10.8568 6.57135 8.71406 8.71406C6.57135 10.8568 5.5 13.4521 5.5 16.5C5.5 17.8521 5.72344 19.124 6.17031 20.3156C6.61719 21.5073 7.24167 22.5729 8.04375 23.5125ZM16.5 17.875C15.1479 17.875 14.0078 17.4109 13.0797 16.4828C12.1516 15.5547 11.6875 14.4146 11.6875 13.0625C11.6875 11.7104 12.1516 10.5703 13.0797 9.64219C14.0078 8.71406 15.1479 8.25 16.5 8.25C17.8521 8.25 18.9922 8.71406 19.9203 9.64219C20.8484 10.5703 21.3125 11.7104 21.3125 13.0625C21.3125 14.4146 20.8484 15.5547 19.9203 16.4828C18.9922 17.4109 17.8521 17.875 16.5 17.875ZM16.5 30.25C14.5979 30.25 12.8104 29.8891 11.1375 29.1672C9.46458 28.4453 8.00938 27.4656 6.77187 26.2281C5.53437 24.9906 4.55469 23.5354 3.83281 21.8625C3.11094 20.1896 2.75 18.4021 2.75 16.5C2.75 14.5979 3.11094 12.8104 3.83281 11.1375C4.55469 9.46458 5.53437 8.00938 6.77187 6.77187C8.00938 5.53437 9.46458 4.55469 11.1375 3.83281C12.8104 3.11094 14.5979 2.75 16.5 2.75C18.4021 2.75 20.1896 3.11094 21.8625 3.83281C23.5354 4.55469 24.9906 5.53437 26.2281 6.77187C27.4656 8.00938 28.4453 9.46458 29.1672 11.1375C29.8891 12.8104 30.25 14.5979 30.25 16.5C30.25 18.4021 29.8891 20.1896 29.1672 21.8625C28.4453 23.5354 27.4656 24.9906 26.2281 26.2281C24.9906 27.4656 23.5354 28.4453 21.8625 29.1672C20.1896 29.8891 18.4021 30.25 16.5 30.25ZM16.5 27.5C17.7146 27.5 18.8604 27.3224 19.9375 26.9672C21.0146 26.612 22 26.1021 22.8938 25.4375C22 24.7729 21.0146 24.263 19.9375 23.9078C18.8604 23.5526 17.7146 23.375 16.5 23.375C15.2854 23.375 14.1396 23.5526 13.0625 23.9078C11.9854 24.263 11 24.7729 10.1062 25.4375C11 26.1021 11.9854 26.612 13.0625 26.9672C14.1396 27.3224 15.2854 27.5 16.5 27.5ZM16.5 15.125C17.0958 15.125 17.5885 14.9302 17.9781 14.5406C18.3677 14.151 18.5625 13.6583 18.5625 13.0625C18.5625 12.4667 18.3677 11.974 17.9781 11.5844C17.5885 11.1948 17.0958 11 16.5 11C15.9042 11 15.4115 11.1948 15.0219 11.5844C14.6323 11.974 14.4375 12.4667 14.4375 13.0625C14.4375 13.6583 14.6323 14.151 15.0219 14.5406C15.4115 14.9302 15.9042 15.125 16.5 15.125Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");}
header.fixed .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_282' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='33'%3E%3Crect width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_282)'%3E%3Cpath d='M13.0625 22C10.5646 22 8.45052 21.1349 6.72031 19.4047C4.9901 17.6745 4.125 15.5604 4.125 13.0625C4.125 10.5646 4.9901 8.45052 6.72031 6.72031C8.45052 4.9901 10.5646 4.125 13.0625 4.125C15.5604 4.125 17.6745 4.9901 19.4047 6.72031C21.1349 8.45052 22 10.5646 22 13.0625C22 14.0708 21.8396 15.0219 21.5188 15.9156C21.1979 16.8094 20.7625 17.6 20.2125 18.2875L27.9125 25.9875C28.1646 26.2396 28.2906 26.5604 28.2906 26.95C28.2906 27.3396 28.1646 27.6604 27.9125 27.9125C27.6604 28.1646 27.3396 28.2906 26.95 28.2906C26.5604 28.2906 26.2396 28.1646 25.9875 27.9125L18.2875 20.2125C17.6 20.7625 16.8094 21.1979 15.9156 21.5188C15.0219 21.8396 14.0708 22 13.0625 22ZM13.0625 19.25C14.7812 19.25 16.2422 18.6484 17.4453 17.4453C18.6484 16.2422 19.25 14.7812 19.25 13.0625C19.25 11.3438 18.6484 9.88281 17.4453 8.67969C16.2422 7.47656 14.7812 6.875 13.0625 6.875C11.3438 6.875 9.88281 7.47656 8.67969 8.67969C7.47656 9.88281 6.875 11.3438 6.875 13.0625C6.875 14.7812 7.47656 16.2422 8.67969 17.4453C9.88281 18.6484 11.3438 19.25 13.0625 19.25Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px){
    header {
        height: 56px;
        padding: 0 0 0 16px;
    }
    header .logo a {
        width: 100px;
        height: 16px;
    }
    header .gnb span {
        display: none;
    }
    header .gnb .gnb_open {
        display: block;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_752' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_752)'%3E%3Cpath d='M4 18C3.71667 18 3.47917 17.9042 3.2875 17.7125C3.09583 17.5208 3 17.2833 3 17C3 16.7167 3.09583 16.4792 3.2875 16.2875C3.47917 16.0958 3.71667 16 4 16H20C20.2833 16 20.5208 16.0958 20.7125 16.2875C20.9042 16.4792 21 16.7167 21 17C21 17.2833 20.9042 17.5208 20.7125 17.7125C20.5208 17.9042 20.2833 18 20 18H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4ZM4 8C3.71667 8 3.47917 7.90417 3.2875 7.7125C3.09583 7.52083 3 7.28333 3 7C3 6.71667 3.09583 6.47917 3.2875 6.2875C3.47917 6.09583 3.71667 6 4 6H20C20.2833 6 20.5208 6.09583 20.7125 6.2875C20.9042 6.47917 21 6.71667 21 7C21 7.28333 20.9042 7.52083 20.7125 7.7125C20.5208 7.90417 20.2833 8 20 8H4Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_close {
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_69_11' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_69_11)'%3E%3Cpath d='M11.9998 13.3998L7.0998 18.2998C6.91647 18.4831 6.68314 18.5748 6.3998 18.5748C6.11647 18.5748 5.88314 18.4831 5.6998 18.2998C5.51647 18.1165 5.4248 17.8831 5.4248 17.5998C5.4248 17.3165 5.51647 17.0831 5.6998 16.8998L10.5998 11.9998L5.6998 7.0998C5.51647 6.91647 5.4248 6.68314 5.4248 6.3998C5.4248 6.11647 5.51647 5.88314 5.6998 5.6998C5.88314 5.51647 6.11647 5.4248 6.3998 5.4248C6.68314 5.4248 6.91647 5.51647 7.0998 5.6998L11.9998 10.5998L16.8998 5.6998C17.0831 5.51647 17.3165 5.4248 17.5998 5.4248C17.8831 5.4248 18.1165 5.51647 18.2998 5.6998C18.4831 5.88314 18.5748 6.11647 18.5748 6.3998C18.5748 6.68314 18.4831 6.91647 18.2998 7.0998L13.3998 11.9998L18.2998 16.8998C18.4831 17.0831 18.5748 17.3165 18.5748 17.5998C18.5748 17.8831 18.4831 18.1165 18.2998 18.2998C18.1165 18.4831 17.8831 18.5748 17.5998 18.5748C17.3165 18.5748 17.0831 18.4831 16.8998 18.2998L11.9998 13.3998Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .util {
        display: none;
    }
    header.fixed {
        height: 56px;
    }
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_3' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_3)'%3E%3Cpath d='M4 18C3.71667 18 3.47917 17.9042 3.2875 17.7125C3.09583 17.5208 3 17.2833 3 17C3 16.7167 3.09583 16.4792 3.2875 16.2875C3.47917 16.0958 3.71667 16 4 16H20C20.2833 16 20.5208 16.0958 20.7125 16.2875C20.9042 16.4792 21 16.7167 21 17C21 17.2833 20.9042 17.5208 20.7125 17.7125C20.5208 17.9042 20.2833 18 20 18H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4ZM4 8C3.71667 8 3.47917 7.90417 3.2875 7.7125C3.09583 7.52083 3 7.28333 3 7C3 6.71667 3.09583 6.47917 3.2875 6.2875C3.47917 6.09583 3.71667 6 4 6H20C20.2833 6 20.5208 6.09583 20.7125 6.2875C20.9042 6.47917 21 6.71667 21 7C21 7.28333 20.9042 7.52083 20.7125 7.7125C20.5208 7.90417 20.2833 8 20 8H4Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header.fixed .gnb .gnb_close {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_71_12' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_71_12)'%3E%3Cpath d='M11.9998 13.3998L7.0998 18.2998C6.91647 18.4831 6.68314 18.5748 6.3998 18.5748C6.11647 18.5748 5.88314 18.4831 5.6998 18.2998C5.51647 18.1165 5.4248 17.8831 5.4248 17.5998C5.4248 17.3165 5.51647 17.0831 5.6998 16.8998L10.5998 11.9998L5.6998 7.0998C5.51647 6.91647 5.4248 6.68314 5.4248 6.3998C5.4248 6.11647 5.51647 5.88314 5.6998 5.6998C5.88314 5.51647 6.11647 5.4248 6.3998 5.4248C6.68314 5.4248 6.91647 5.51647 7.0998 5.6998L11.9998 10.5998L16.8998 5.6998C17.0831 5.51647 17.3165 5.4248 17.5998 5.4248C17.8831 5.4248 18.1165 5.51647 18.2998 5.6998C18.4831 5.88314 18.5748 6.11647 18.5748 6.3998C18.5748 6.68314 18.4831 6.91647 18.2998 7.0998L13.3998 11.9998L18.2998 16.8998C18.4831 17.0831 18.5748 17.3165 18.5748 17.5998C18.5748 17.8831 18.4831 18.1165 18.2998 18.2998C18.1165 18.4831 17.8831 18.5748 17.5998 18.5748C17.3165 18.5748 17.0831 18.4831 16.8998 18.2998L11.9998 13.3998Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}


.visual {
    position: relative; /* 컨트롤 버튼 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이에 꽉 채움 */
    min-height: 550px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: flex-end;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_1.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_2.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_3.jpg);
}
.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 25px 0;
    transition: 1s;
    transition-delay: .5s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide .mob {
    display: none;
}
.visual .swiper-slide p {
    margin: 0 0 40dvh 0;
    transition: 1s;
    transition-delay: .8s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active h3 {
    transform: translateY(0);
    opacity: 1;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translateY(0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    z-index: 1;
    bottom: 3dvh;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    display: flex;
    gap: 0 15px;
    align-items: center;
}
.visual .ctrl_btn .paging {
    bottom: auto;
    left: auto;
    width: auto;
    display: flex;
    gap: 0 15px;
    align-items: center;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #fff;
    opacity: 1;
    margin: 0;
    position: relative;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.visual .ctrl_btn .btn_prev {
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_369' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_369)'%3E%3Cpath d='M6.7998 12.9998L9.6998 15.8998C9.88314 16.0831 9.9748 16.3165 9.9748 16.5998C9.9748 16.8831 9.88314 17.1165 9.6998 17.2998C9.51647 17.4831 9.28314 17.5748 8.9998 17.5748C8.71647 17.5748 8.48314 17.4831 8.2998 17.2998L3.6998 12.6998C3.5998 12.5998 3.52897 12.4915 3.4873 12.3748C3.44564 12.2581 3.4248 12.1331 3.4248 11.9998C3.4248 11.8665 3.44564 11.7415 3.4873 11.6248C3.52897 11.5081 3.5998 11.3998 3.6998 11.2998L8.2998 6.6998C8.48314 6.51647 8.71647 6.4248 8.9998 6.4248C9.28314 6.4248 9.51647 6.51647 9.6998 6.6998C9.88314 6.88314 9.9748 7.11647 9.9748 7.3998C9.9748 7.68314 9.88314 7.91647 9.6998 8.0998L6.7998 10.9998H19.9998C20.2831 10.9998 20.5206 11.0956 20.7123 11.2873C20.904 11.479 20.9998 11.7165 20.9998 11.9998C20.9998 12.2831 20.904 12.5206 20.7123 12.7123C20.5206 12.904 20.2831 12.9998 19.9998 12.9998H6.7998Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_btn .btn_stop {
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_375' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_375)'%3E%3Cpath d='M12.1343 14.5237C11.6651 14.5237 11.2634 14.3566 10.9292 14.0225C10.5951 13.6883 10.4281 13.2866 10.4281 12.8174V5.18281C10.4281 4.71369 10.5952 4.312 10.9294 3.97775C11.2636 3.64363 11.6652 3.47656 12.1345 3.47656C12.6037 3.47656 13.0054 3.64363 13.3396 3.97775C13.6736 4.312 13.8406 4.71369 13.8406 5.18281V12.8174C13.8406 13.2866 13.6735 13.6883 13.3394 14.0225C13.0052 14.3566 12.6036 14.5237 12.1343 14.5237ZM5.86524 14.5237C5.39599 14.5237 4.9943 14.3566 4.66018 14.0225C4.32618 13.6883 4.15918 13.2866 4.15918 12.8174V5.18281C4.15918 4.71369 4.32624 4.312 4.66037 3.97775C4.99449 3.64363 5.39618 3.47656 5.86543 3.47656C6.33468 3.47656 6.73637 3.64363 7.07049 3.97775C7.40462 4.312 7.57168 4.71369 7.57168 5.18281V12.8174C7.57168 13.2866 7.40455 13.6883 7.0703 14.0225C6.73618 14.3566 6.33449 14.5237 5.86524 14.5237Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_play {
    display: none;
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_378' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_378)'%3E%3Cpath d='M5.84766 12.9665V5.03379C5.84766 4.78841 5.93309 4.58485 6.10397 4.4231C6.27497 4.26148 6.47391 4.18066 6.70078 4.18066C6.77228 4.18066 6.84759 4.19079 6.92672 4.21104C7.00597 4.23129 7.08134 4.2631 7.15284 4.30648L13.3998 8.27754C13.5273 8.36141 13.6237 8.46785 13.6889 8.59685C13.754 8.72573 13.7866 8.86016 13.7866 9.00016C13.7866 9.14016 13.754 9.2746 13.6889 9.40348C13.6237 9.53248 13.5273 9.63891 13.3998 9.72279L7.15284 13.6939C7.08134 13.7372 7.00597 13.769 6.92672 13.7893C6.84759 13.8095 6.77228 13.8197 6.70078 13.8197C6.47391 13.8197 6.27497 13.7389 6.10397 13.5772C5.93309 13.4155 5.84766 13.2119 5.84766 12.9665Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_btn .btn_next {
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_369' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_369)'%3E%3Cpath d='M6.7998 12.9998L9.6998 15.8998C9.88314 16.0831 9.9748 16.3165 9.9748 16.5998C9.9748 16.8831 9.88314 17.1165 9.6998 17.2998C9.51647 17.4831 9.28314 17.5748 8.9998 17.5748C8.71647 17.5748 8.48314 17.4831 8.2998 17.2998L3.6998 12.6998C3.5998 12.5998 3.52897 12.4915 3.4873 12.3748C3.44564 12.2581 3.4248 12.1331 3.4248 11.9998C3.4248 11.8665 3.44564 11.7415 3.4873 11.6248C3.52897 11.5081 3.5998 11.3998 3.6998 11.2998L8.2998 6.6998C8.48314 6.51647 8.71647 6.4248 8.9998 6.4248C9.28314 6.4248 9.51647 6.51647 9.6998 6.6998C9.88314 6.88314 9.9748 7.11647 9.9748 7.3998C9.9748 7.68314 9.88314 7.91647 9.6998 8.0998L6.7998 10.9998H19.9998C20.2831 10.9998 20.5206 11.0956 20.7123 11.2873C20.904 11.479 20.9998 11.7165 20.9998 11.9998C20.9998 12.2831 20.904 12.5206 20.7123 12.7123C20.5206 12.904 20.2831 12.9998 19.9998 12.9998H6.7998Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    transform: rotate(180deg)
}
@media screen and (max-width:768px){
    section .tit h2 {
        font-size: 24px;
        color: #1d1d1d;
    }
    section .tit p {
        margin: 15px 0 0 0;
    }
    .visual .swiper-slide.popup1 {
        background-image: url(../images/mo_visual_bg1.jpg);
    }
    .visual .swiper-slide.popup2 {
        background-image: url(../images/mo_visual_bg2.jpg);
    }
    .visual .swiper-slide.popup3 {
        background-image: url(../images/mo_visual_bg3.jpg);
    }
    .visual .swiper-slide .mob {
        display: block;
    }
    .visual .swiper-slide h3 {
        font-size: 35px;
        margin: 0 0 20px 0;
        transform: translateY(0);
        opacity: 1;
    }
    .visual .swiper-slide p {
        margin: 0 0 20dvh 0;
        transform: translateY(0);
        opacity: 1;
    }
    .visual .swiper-slide.swiper-slide-active h3 {
        transform: translateY(0);
    }
    .visual .swiper-slide.swiper-slide-active p {
        transform: translateY(0);
    }
    .visual .ctrl_btn {
        bottom: 5dvh;
    }
    .visual .ctrl_btn .btn_prev,
    .visual .ctrl_btn .btn_next {
        display: none;
    }
}/* media end */

.book {
    background-color: #F0E7DB;
    padding: 180px 0 140px 0;
    height: 840px;
}
.book .book_warp {
    width: calc(50% + 630px);
    margin-left: calc((100% - 1260px) / 2); /* wrapper와 같은 왼쪽 여백 */
    display: flex;
    justify-content: space-between;
}
.book .book_warp .tit {
    padding: 90px 0 0 0;
}
.book .book_warp .list {
    width: calc(100% - 418px);
}
.book .book_warp .list .swiper {
    padding: 10px 25px 0 10px;
}
.book .book_warp .list .swiper-wrapper {
    align-items: flex-end;
}
.book .book_warp .list .swiper-slide {
    width: 190px;
}
.book .book_warp .list .swiper-slide a {
    display: block;
}
.book .book_warp .list .swiper-slide a .photo {
    overflow: hidden;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}
.book .book_warp .list .swiper-slide a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 500px;
    width: 10px;
    background: url(../images/book_cover_shdow.png) center center / contain;
    overflow: hidden;
}
.book .book_warp .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.book .book_warp .list .swiper-slide a .txt {
    width: 100%;
    height: 100px;
    margin: 14px 0 0 0;
}
.book .book_warp .list .swiper-slide a .txt h3 {
    font-size: 22px;
    margin: 0 0 18px 0;
    /* 최대 2줄 제한 */
    line-height: 1.4;
    max-height: 2.8em;
    overflow: hidden;
}
.book .book_warp .list .swiper-slide a .txt p {
    /* 1줄 제한 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book .ctrl_wrap {
    margin: 30px 0 121px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 15px;
}
.book .ctrl_wrap .more a {
    display: block;
    border: 1px solid #1d1d1d;
    border-radius: 30px;
    padding: 10px 45px 10px 20px;
    position: relative;
    transition: .2s;
}
.book .ctrl_wrap .more a:hover {
    border: 1px solid #fff;
    background-color: #fff;
}
.book .ctrl_wrap .more a::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_217' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_217)'%3E%3Cpath d='M12 19.5498C11.8167 19.5498 11.6375 19.5248 11.4625 19.4748C11.2875 19.4248 11.125 19.3581 10.975 19.2748C10.2917 18.8581 9.575 18.5414 8.825 18.3248C8.075 18.1081 7.3 17.9998 6.5 17.9998C5.8 17.9998 5.1125 18.0914 4.4375 18.2748C3.7625 18.4581 3.11667 18.7164 2.5 19.0498C2.15 19.2331 1.8125 19.2248 1.4875 19.0248C1.1625 18.8248 1 18.5331 1 18.1498V6.09977C1 5.91644 1.04583 5.74144 1.1375 5.57477C1.22917 5.40811 1.36667 5.28311 1.55 5.19977C2.31667 4.79977 3.11667 4.49977 3.95 4.29977C4.78333 4.09977 5.63333 3.99977 6.5 3.99977C7.46667 3.99977 8.4125 4.12477 9.3375 4.37477C10.2625 4.62477 11.15 4.99977 12 5.49977V17.5998C12.85 17.0664 13.7417 16.6664 14.675 16.3998C15.6083 16.1331 16.55 15.9998 17.5 15.9998C18.1 15.9998 18.6875 16.0498 19.2625 16.1498C19.8375 16.2498 20.4167 16.3998 21 16.5998V4.59977C21.25 4.68311 21.4958 4.77061 21.7375 4.86227C21.9792 4.95394 22.2167 5.06644 22.45 5.19977C22.6333 5.28311 22.7708 5.40811 22.8625 5.57477C22.9542 5.74144 23 5.91644 23 6.09977V18.1498C23 18.5331 22.8375 18.8248 22.5125 19.0248C22.1875 19.2248 21.85 19.2331 21.5 19.0498C20.8833 18.7164 20.2375 18.4581 19.5625 18.2748C18.8875 18.0914 18.2 17.9998 17.5 17.9998C16.7 17.9998 15.925 18.1081 15.175 18.3248C14.425 18.5414 13.7083 18.8581 13.025 19.2748C12.875 19.3581 12.7125 19.4248 12.5375 19.4748C12.3625 19.5248 12.1833 19.5498 12 19.5498ZM14.825 14.2498C14.6583 14.3998 14.4792 14.4289 14.2875 14.3373C14.0958 14.2456 14 14.0914 14 13.8748V5.69977C14 5.63311 14.0125 5.57061 14.0375 5.51227C14.0625 5.45394 14.1 5.39977 14.15 5.34977L18.15 1.34977C18.3167 1.18311 18.5 1.14144 18.7 1.22477C18.9 1.30811 19 1.46644 19 1.69977V10.2748C19 10.3581 18.9833 10.4289 18.95 10.4873C18.9167 10.5456 18.875 10.5998 18.825 10.6498L14.825 14.2498ZM10 16.6248V6.72477C9.45 6.49144 8.87917 6.31227 8.2875 6.18727C7.69583 6.06227 7.1 5.99977 6.5 5.99977C5.88333 5.99977 5.28333 6.05811 4.7 6.17477C4.11667 6.29144 3.55 6.46644 3 6.69977V16.6248C3.58333 16.4081 4.1625 16.2498 4.7375 16.1498C5.3125 16.0498 5.9 15.9998 6.5 15.9998C7.1 15.9998 7.6875 16.0498 8.2625 16.1498C8.8375 16.2498 9.41667 16.4081 10 16.6248Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.book .ctrl_wrap .ctrl_btn {
    display: flex;
    align-items: center;
    gap: 0 15px;
}
.book .ctrl_wrap .ctrl_btn .btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_235' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' transform='matrix(-1 0 0 1 24 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_235)'%3E%3Cpath d='M17.2002 12.9998L14.3002 15.8998C14.1169 16.0831 14.0252 16.3165 14.0252 16.5998C14.0252 16.8831 14.1169 17.1165 14.3002 17.2998C14.4835 17.4831 14.7169 17.5748 15.0002 17.5748C15.2835 17.5748 15.5169 17.4831 15.7002 17.2998L20.3002 12.6998C20.4002 12.5998 20.471 12.4915 20.5127 12.3748C20.5544 12.2581 20.5752 12.1331 20.5752 11.9998C20.5752 11.8665 20.5544 11.7415 20.5127 11.6248C20.471 11.5081 20.4002 11.3998 20.3002 11.2998L15.7002 6.6998C15.5169 6.51647 15.2835 6.4248 15.0002 6.4248C14.7169 6.4248 14.4835 6.51647 14.3002 6.6998C14.1169 6.88314 14.0252 7.11647 14.0252 7.3998C14.0252 7.68314 14.1169 7.91647 14.3002 8.0998L17.2002 10.9998H4.00019C3.71686 10.9998 3.47936 11.0956 3.28769 11.2873C3.09603 11.479 3.00019 11.7165 3.00019 11.9998C3.00019 12.2831 3.09603 12.5206 3.28769 12.7123C3.47936 12.904 3.71686 12.9998 4.00019 12.9998H17.2002Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    border: 1px solid #1d1d1d;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    transition: .2s;
}
.book .ctrl_wrap .ctrl_btn .btn_prev:hover {
    border: 1px solid #fff;
    background-color: #fff;
}
.book .ctrl_wrap .ctrl_btn .btn_prev.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
}
.book .ctrl_wrap .ctrl_btn .btn_prev.swiper-button-disabled:hover {
    border: 1px solid #1d1d1d;
    background-color: #F0E7DB;
}
.book .ctrl_wrap .ctrl_btn .btn_next {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_235' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' transform='matrix(-1 0 0 1 24 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_235)'%3E%3Cpath d='M17.2002 12.9998L14.3002 15.8998C14.1169 16.0831 14.0252 16.3165 14.0252 16.5998C14.0252 16.8831 14.1169 17.1165 14.3002 17.2998C14.4835 17.4831 14.7169 17.5748 15.0002 17.5748C15.2835 17.5748 15.5169 17.4831 15.7002 17.2998L20.3002 12.6998C20.4002 12.5998 20.471 12.4915 20.5127 12.3748C20.5544 12.2581 20.5752 12.1331 20.5752 11.9998C20.5752 11.8665 20.5544 11.7415 20.5127 11.6248C20.471 11.5081 20.4002 11.3998 20.3002 11.2998L15.7002 6.6998C15.5169 6.51647 15.2835 6.4248 15.0002 6.4248C14.7169 6.4248 14.4835 6.51647 14.3002 6.6998C14.1169 6.88314 14.0252 7.11647 14.0252 7.3998C14.0252 7.68314 14.1169 7.91647 14.3002 8.0998L17.2002 10.9998H4.00019C3.71686 10.9998 3.47936 11.0956 3.28769 11.2873C3.09603 11.479 3.00019 11.7165 3.00019 11.9998C3.00019 12.2831 3.09603 12.5206 3.28769 12.7123C3.47936 12.904 3.71686 12.9998 4.00019 12.9998H17.2002Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    border: 1px solid #1d1d1d;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    transition: .2s;
}
.book .ctrl_wrap .ctrl_btn .btn_next:hover {
    border: 1px solid #fff;
    background-color: #fff;
}
.book .ctrl_wrap .ctrl_btn .btn_next.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
}
.book .ctrl_wrap .ctrl_btn .btn_next.swiper-button-disabled:hover {
    border: 1px solid #1d1d1d;
    background-color: #F0E7DB;
}

@media screen and (max-width:768px){
    .book {
        padding: 0;
        height: 700px;
    }
    .book .book_warp {
        width: 100%;
        margin-left: 0;
        display: block;
    }
    .book .book_warp .tit {
        padding: 89px 0 40px 16px;
        margin: 0;
    }
    .book .book_warp .list {
        width: auto;
    }
    .book .book_warp .list .swiper {
        padding: 10px 25px 0 0;
    }
    .book .book_warp .list .swiper-slide {
        width: 155px;
    }
    .book .book_warp .list .swiper-slide a .txt {
        height: 95px;
        margin: 20px 0 0 0;
        text-align: center;
    }
    .book .book_warp .list .swiper-slide a .txt h3 {
        font-size: 20px;
        margin: 0 0 15px 0;
    }
    .book .book_warp .list .swiper-slide a .txt p {
        font-size: 16px;
    }
    .book .ctrl_wrap {
        margin: 20px 0 0 0;
    }
    .book .ctrl_wrap .more a {
        display: inline-block;
        padding: 8px 45px 8px 16px;
        margin: 20px 0 0 0;
    }
    .book .ctrl_wrap .more a::after {
        right: 15px;
        top: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_217' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_217)'%3E%3Cpath d='M12 19.5498C11.8167 19.5498 11.6375 19.5248 11.4625 19.4748C11.2875 19.4248 11.125 19.3581 10.975 19.2748C10.2917 18.8581 9.575 18.5414 8.825 18.3248C8.075 18.1081 7.3 17.9998 6.5 17.9998C5.8 17.9998 5.1125 18.0914 4.4375 18.2748C3.7625 18.4581 3.11667 18.7164 2.5 19.0498C2.15 19.2331 1.8125 19.2248 1.4875 19.0248C1.1625 18.8248 1 18.5331 1 18.1498V6.09977C1 5.91644 1.04583 5.74144 1.1375 5.57477C1.22917 5.40811 1.36667 5.28311 1.55 5.19977C2.31667 4.79977 3.11667 4.49977 3.95 4.29977C4.78333 4.09977 5.63333 3.99977 6.5 3.99977C7.46667 3.99977 8.4125 4.12477 9.3375 4.37477C10.2625 4.62477 11.15 4.99977 12 5.49977V17.5998C12.85 17.0664 13.7417 16.6664 14.675 16.3998C15.6083 16.1331 16.55 15.9998 17.5 15.9998C18.1 15.9998 18.6875 16.0498 19.2625 16.1498C19.8375 16.2498 20.4167 16.3998 21 16.5998V4.59977C21.25 4.68311 21.4958 4.77061 21.7375 4.86227C21.9792 4.95394 22.2167 5.06644 22.45 5.19977C22.6333 5.28311 22.7708 5.40811 22.8625 5.57477C22.9542 5.74144 23 5.91644 23 6.09977V18.1498C23 18.5331 22.8375 18.8248 22.5125 19.0248C22.1875 19.2248 21.85 19.2331 21.5 19.0498C20.8833 18.7164 20.2375 18.4581 19.5625 18.2748C18.8875 18.0914 18.2 17.9998 17.5 17.9998C16.7 17.9998 15.925 18.1081 15.175 18.3248C14.425 18.5414 13.7083 18.8581 13.025 19.2748C12.875 19.3581 12.7125 19.4248 12.5375 19.4748C12.3625 19.5248 12.1833 19.5498 12 19.5498ZM14.825 14.2498C14.6583 14.3998 14.4792 14.4289 14.2875 14.3373C14.0958 14.2456 14 14.0914 14 13.8748V5.69977C14 5.63311 14.0125 5.57061 14.0375 5.51227C14.0625 5.45394 14.1 5.39977 14.15 5.34977L18.15 1.34977C18.3167 1.18311 18.5 1.14144 18.7 1.22477C18.9 1.30811 19 1.46644 19 1.69977V10.2748C19 10.3581 18.9833 10.4289 18.95 10.4873C18.9167 10.5456 18.875 10.5998 18.825 10.6498L14.825 14.2498ZM10 16.6248V6.72477C9.45 6.49144 8.87917 6.31227 8.2875 6.18727C7.69583 6.06227 7.1 5.99977 6.5 5.99977C5.88333 5.99977 5.28333 6.05811 4.7 6.17477C4.11667 6.29144 3.55 6.46644 3 6.69977V16.6248C3.58333 16.4081 4.1625 16.2498 4.7375 16.1498C5.3125 16.0498 5.9 15.9998 6.5 15.9998C7.1 15.9998 7.6875 16.0498 8.2625 16.1498C8.8375 16.2498 9.41667 16.4081 10 16.6248Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .book .ctrl_wrap .more a span {
        font-size: 14px;
    }
    .book .ctrl_wrap .ctrl_btn {
        display: none;
    }
}
.interview {
    margin: 170px 0 145px 0;
}
.interview .wrapper {
    position: relative;
}
.interview .tit {
    margin: 0 0 63px 0;
    text-align: center;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: calc(33.33% - 16px);
}

.interview .list ul li a {
    display: block;
    position: relative;
}
.interview .list ul li a .photo {
    overflow: hidden;
    height: 430px;
    border-radius: 50px 0 50px 0;
    vertical-align: middle;
    position: relative;
}
.interview .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, #000000, rgba(0, 0, 0, 0));
    opacity: 0.7;
    z-index: 1;
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: .3s;
}
.interview .list ul li a .txt {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: -145px;
    width: calc(100% - 57px);
    padding: 25px 0 50px 50px;
    color: #fff;
    border-radius: 50px 0 50px 0;
    transition: .3s;
}
.interview .list ul li a .txt h3 {
    font-size: 22px;
    position: relative;
}
.interview .list ul li a .txt h3::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: -5px;
    width: 41px;
    height: 41px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_252' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='41' height='41'%3E%3Crect width='41' height='41' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_252)'%3E%3Cpath d='M18.7915 22.2087H10.2498C9.76581 22.2087 9.36008 22.0449 9.03265 21.7175C8.70522 21.3901 8.5415 20.9844 8.5415 20.5003C8.5415 20.0163 8.70522 19.6106 9.03265 19.2831C9.36008 18.9557 9.76581 18.792 10.2498 18.792H18.7915V10.2503C18.7915 9.7663 18.9552 9.36057 19.2826 9.03314C19.6101 8.70571 20.0158 8.54199 20.4998 8.54199C20.9839 8.54199 21.3896 8.70571 21.717 9.03314C22.0445 9.36057 22.2082 9.7663 22.2082 10.2503V18.792H30.7498C31.2339 18.792 31.6396 18.9557 31.967 19.2831C32.2945 19.6106 32.4582 20.0163 32.4582 20.5003C32.4582 20.9844 32.2945 21.3901 31.967 21.7175C31.6396 22.0449 31.2339 22.2087 30.7498 22.2087H22.2082V30.7503C22.2082 31.2344 22.0445 31.6401 21.717 31.9675C21.3896 32.2949 20.9839 32.4587 20.4998 32.4587C20.0158 32.4587 19.6101 32.2949 19.2826 31.9675C18.9552 31.6401 18.7915 31.2344 18.7915 30.7503V22.2087Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.interview .list ul li a .txt p {
    margin: 15px 0 30px 0;
    opacity: 0;
    transition: .3s;
}
.interview .list ul li a .txt span {
    opacity: 0;
    transition: .3s;
}
.interview .more {
    position: absolute;
    right: 0;
    top: 50px;
}
.interview .more a {
    display: block;
    border: 1px solid #1d1d1d;
    border-radius: 30px;
    color: #1d1d1d;
    padding: 6px 46px 6px 17px;
    transition: .3s;
}
.interview .more a::after {
    content: "";
    position: absolute;
    right: 11px;
    top: 7px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_221' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_221)'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
    transition: .3s;
}
@media screen and (min-width:769px){ /* pc에서만 적용 */
    .interview .list ul li a:hover .photo::before {
        display: none;
    }
    .interview .list ul li a:hover .photo img {
        filter: grayscale(0);
        transform: scale3d(1.1, 1.1, 1);
    }
    .interview .list ul li a:hover .txt {
        width: calc(100% - 30px);
        padding: 35px 45px 37px 45px;
        color: #fff;
        background-color: #312211;
    }
    .interview .list ul li:nth-child(2) {
        margin: 88px 0 0 0;
    }
    .interview .list ul li:nth-child(2) a:hover .txt {
        border-radius: 0 50px 0 50px;
    }
    .interview .list ul li:nth-child(2) a .photo {
        border-radius: 0 50px 0 50px;
    }
    .interview .list ul li a:hover .txt h3::after {
        display: none;
    }
    .interview .list ul li a:hover .txt p {
        opacity: 1;
        transition-delay: .2s;
    }
    .interview .list ul li a:hover .txt span {
        opacity: 1;
        position: relative;
        transition-delay: .2s;
    }
    .interview .list ul li a:hover .txt span::after {
        content: "";
        position: absolute;
        left: 75px;
        bottom: 0;
        width: 21px;
        height: 21px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_544' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='21' height='21'%3E%3Crect width='21' height='21' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_544)'%3E%3Cpath d='M9.625 11.375H5.25C5.00208 11.375 4.79427 11.2911 4.62656 11.1234C4.45885 10.9557 4.375 10.7479 4.375 10.5C4.375 10.2521 4.45885 10.0443 4.62656 9.87656C4.79427 9.70885 5.00208 9.625 5.25 9.625H9.625V5.25C9.625 5.00208 9.70885 4.79427 9.87656 4.62656C10.0443 4.45885 10.2521 4.375 10.5 4.375C10.7479 4.375 10.9557 4.45885 11.1234 4.62656C11.2911 4.79427 11.375 5.00208 11.375 5.25V9.625H15.75C15.9979 9.625 16.2057 9.70885 16.3734 9.87656C16.5411 10.0443 16.625 10.2521 16.625 10.5C16.625 10.7479 16.5411 10.9557 16.3734 11.1234C16.2057 11.2911 15.9979 11.375 15.75 11.375H11.375V15.75C11.375 15.9979 11.2911 16.2057 11.1234 16.3734C10.9557 16.5411 10.7479 16.625 10.5 16.625C10.2521 16.625 10.0443 16.5411 9.87656 16.3734C9.70885 16.2057 9.625 15.9979 9.625 15.75V11.375Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .interview .more a:hover {
        color: #fff;
        background-color: #1d1d1d;
    }
    .interview .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_311' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_311)'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}
@media screen and (max-width:768px){ /* 모바일에서만 적용 */
    .interview {
        margin: 137px 0 192px 0;
    }
    .interview .tit {
        margin: 0 0 63px 0;
        text-align: left;
    }
    .interview .list ul li {
        width: calc(50% - 8px);
    }
    .interview .list ul li:nth-child(2) {
        display: block;
    }
    .interview .list ul li:nth-child(3) {
        display: none;
    }
    .interview .list ul li a .photo {
        height: 347px;
        border-radius: 25px 0 25px 0;
    }
    .interview .list ul li a .photo::before {
        display: none;
    }
    .interview .list ul li a .photo img {
        filter: grayscale(0);
    }
    .interview .list ul li a .txt {
        bottom: -110px;
        width: calc(100% - 40px);
        padding: 18px 31px 18px 35px;
        border-radius: 25px 0 25px 0;
        background-color: #312211;
    }
    .interview .list ul li a .txt h3 {
        font-size: 18px;
        position: relative;
    }
    .interview .list ul li a .txt h3::after {
        display: none;
    }
    .interview .list ul li a .txt p {
        margin: 15px 0 15px 0;
        opacity: 1;
        display: -webkit-box;
        -webkit-line-clamp: 2;  /* 최대 줄 수 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .interview .list ul li a .txt span {
        opacity: 1;
        font-size: 14px;
    }
    .interview .list ul li a .txt span::after {
        content: "";
        position: absolute;
        left: 96px;
        bottom: 20px;
        width: 18px;
        height: 18px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_544' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='21' height='21'%3E%3Crect width='21' height='21' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_544)'%3E%3Cpath d='M9.625 11.375H5.25C5.00208 11.375 4.79427 11.2911 4.62656 11.1234C4.45885 10.9557 4.375 10.7479 4.375 10.5C4.375 10.2521 4.45885 10.0443 4.62656 9.87656C4.79427 9.70885 5.00208 9.625 5.25 9.625H9.625V5.25C9.625 5.00208 9.70885 4.79427 9.87656 4.62656C10.0443 4.45885 10.2521 4.375 10.5 4.375C10.7479 4.375 10.9557 4.45885 11.1234 4.62656C11.2911 4.79427 11.375 5.00208 11.375 5.25V9.625H15.75C15.9979 9.625 16.2057 9.70885 16.3734 9.87656C16.5411 10.0443 16.625 10.2521 16.625 10.5C16.625 10.7479 16.5411 10.9557 16.3734 11.1234C16.2057 11.2911 15.9979 11.375 15.75 11.375H11.375V15.75C11.375 15.9979 11.2911 16.2057 11.1234 16.3734C10.9557 16.5411 10.7479 16.625 10.5 16.625C10.2521 16.625 10.0443 16.5411 9.87656 16.3734C9.70885 16.2057 9.625 15.9979 9.625 15.75V11.375Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .interview .more {
        position: absolute;
        right: 0;
        top: 50px;
    }
    .interview .more span {
        display: none;
    }
    .interview .more a {
        display: block;
        border: 0;
    }
    .interview .more a::after {
        content: "";
        position: absolute;
        right: 0;
        top: -45px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_221' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_221)'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-color: #fff;
        border: 1px solid #1d1d1d;
        border-radius: 50%;
        padding: 5px;
    }
}
@media screen and (max-width:510px){ /* 넓이 510 이 넘어가면 2개씩 */
    .interview .list ul {
        display: block;
    }
    .interview .list ul li {
        width: auto;
    }
    .interview .list ul li:nth-child(2) {
        display: none;
    }
}
.story {
    background-color: #F0E7DB;
    height: 960px;
}
.story .tit {
    padding: 118px 0 0 0;
}

footer {
    margin: 500px 0 0 0;
}