@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    height: 90px;
    position: absolute; /* wrap을 기준으로 정렬 */
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
}
header .logo a {
    display: block;
    width: 150px;
    height: 60px;
    background: url(../images/logo.svg) no-repeat center center;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 작동 */
}
header .gnb .gnb_wrap ul {
    display: flex;
    justify-content: space-between;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    line-height: 90px;
    padding: 0 29px 0 29px;
    gap: 0 58px;
    font-size: 20px;
    font-weight: 700;
}
header .util {
    display: flex;
    gap: 0 5px;
}
header .util .mypage,
header .util .lang .lang_open {
    width: 48px;
    height: 48px;
}
header .util .mypage {
    background: url(../images/util_mypage.png) no-repeat center center;
}
header .util .lang .lang_open {
    background: url(../images/util_lang.png) no-repeat center center;
}

@media screen and (max-width:768px){

    header {
        height: 60px;
        color: #fff;
        padding: 0 0 0 16px;
    }
    header .logo a {
        width: 75px;
        height: 30px;
        background: url(../images/logo_bk.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_open {
        display: block; /* 모바일에서만 작동 */
        width: 60px;
        height: 60px;
        background: url(../images/gnb_open.svg) no-repeat center center;
    }
    header .gnb .gnb_wrap {
        display: none; /* 모바일에서 숨김 */
    }
    header .util {
        display: none;
    }
}

.visual {
    position: relative;
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일하게 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: flex-end;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 20px 0;
}
.visual .swiper-slide h3 br.mob {
    display: none;
}
.visual .swiper-slide p {
    margin: 0 0 175px 0;
}
.visual .swiper-slide p br.mob {
    display: none;
}
.visual .btn_wrap {
    position: absolute;
    z-index: 1;
    left: calc(50% - 630px); /* 절대값인 중앙의 절반값 630 */
    bottom: 100px;
    display: flex;
    gap: 0 10px;
}
.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition: .2s;
}
.visual .btn_wrap .btn_prev {
    background: url(../images/btn_next.svg) no-repeat center center;
    transform: rotate(180deg);
}
.visual .btn_wrap .btn_play {
    background: url(../images/btn_play.svg) no-repeat center center;
    display: none; /* stop버튼이 작동한 뒤에 보임 */
}
.visual .btn_wrap .btn_stop {
    background: url(../images/btn_pause.svg) no-repeat center center;
}
.visual .btn_wrap .btn_next {
    background: url(../images/btn_next.svg) no-repeat center center;
}


@media screen and (max-width:768px){
    .visual .swiper-slide h3 {
        font-size: 38px;
        margin: 0 0 13px 0;
    }
    .visual .swiper-slide h3 br.mob {
        display: block;
    }
    .visual .swiper-slide p {
        margin: 0 0 100px 0;
    }
    .visual .swiper-slide p br.mob {
        display: block;
    }
    .visual .swiper-slide.bg1 {
        background-image: url(../images/visual_mob_bg1.jpg);
    }
    .visual .btn_wrap {
        transform: translateX(-50%); /* btn_wrap(나 자신)의 절반을 왼쪽으로 이동 */
        bottom: 30px;
        left: 50% /* visual 넓이의 절반 */
    }
    .visual .btn_wrap button {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
    .visual .btn_wrap .btn_prev {
        background: url(../images/btn_next.svg) no-repeat center center;
        transform: rotate(180deg);
    }
    .visual .btn_wrap .btn_play {
        background: url(../images/btn_play.svg) no-repeat center center;
    }
    .visual .btn_wrap .btn_stop {
        background: url(../images/btn_pause.svg) no-repeat center center;
    }
    .visual .btn_wrap .btn_next {
        background: url(../images/btn_next.svg) no-repeat center center;
    }
}

.biz {
    margin: 260px 0 20px 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.biz .tit {
    position: sticky; /* sticky가 적용된 요소 상위에 overflow-hidden이 적용되면 작동하지 않음 */
    top: 25%;
}
.biz .tit h2 {
    color: #1d1d1d;
}
.biz .list {
    width: 832px;
    padding: 0 0 150px 0;
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 24px 24px;
}
.biz .list ul li {
    width: calc(50% - 12px); /* 100 / 한 줄에 나오는 li의 갯수 = 100/2 = 50%
                                한 줄의 여백의 합 / 한 중에 나오는 li의 갯수 = 24/2 = 12px */
}
.biz .list ul li a {
    display: block;
    position: relative;
}
.biz .list ul li a .photo {
    position: relative;
    overflow: hidden;
    height: 500px;
    border-radius: 15px;
}
.biz .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #004289;
    opacity: 0;
    transition: .5s;
}

.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}
.biz .list ul li a .txt {
    position: absolute;
    width: 100%;
    bottom: -50px;
    color: #fff;
    text-align: center;
    transition: .4s;
}
.biz .list ul li a .txt h3 {
    font-size: 32px;
}
.biz .list ul li a .txt p {
    opacity: 0;
    transition: .5s;
}
.biz .list ul li a .txt p .mob {
    display: none;
}
.biz .list ul li:nth-child(even) {
    transform: translateY(170px);
}
@media screen and (min-width:769px){    /* 769이상에서 적용 */
    .biz .list ul li a:hover .photo::before {
        opacity: 0.9;
    }
    .biz .list ul li a:hover .txt {
        bottom: 160px;
    }
    .biz .list ul li a:hover .txt p {
        opacity: 1;
        margin: 13px 0 0 0;
        color: rgba(255, 255, 255, 0.8);
    }
    .visual .btn_wrap button:hover {
        border: 1px solid #004289;
        background-color: #004289;
    }
    .notice .list ul li a:hover .inner {
        color: #fff;
        font-weight: 700;
    }
    .notice .list ul li a:hover {
        background-color: #004289;
        border: 1px solid #004289;
    }
    .notice .list ul li a:hover span {
        color: #fff;
    }
    .notice .more a:hover::after {
        right: -30px;
    }
    .wepzine .more a:hover::after {
        right: -50px;
    }
    .wepzine .list .swiper-slide:hover a {
        box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.3);
        transform: translate(0, -20px);
    }
    .service .list ul li:hover a {
        border: 1px solid #004289;
        background-color: #004289;
    }
    .service .list ul li:hover a::after {
        background: url(../images/service_arrow.svg) no-repeat center center;
    }
    .service .list ul li:hover a strong {
        color: #fff;
    }
    .service .list ul li:hover a h3 {
        color: #fff;
    }
}
@media screen and (max-width:768px){    /* 768(포함)이하에 적용 */
    .biz {
        margin: 77px 0 0 0;
    }
    .biz .wrapper {
        display: block;
    }
    .biz .tit {
        position: relative;
        top: auto;
    }
    .biz .tit .tit_sub {
        display: none;
    }
    .biz .list {
        width: auto;
        padding: 0;
        margin: 47px 0 0 0;
    }
    .biz .list ul {
        display: flex;
        flex-wrap: nowrap; /* 여러줄 허용 */
        flex-direction: column;
    }
    .biz .list ul li {
        border-bottom: 1px solid rgba(29, 29, 29, 0.5);
        width: auto;
        padding: 0 0 20px 0;
    }
    .biz .list ul li a .photo {
        position: relative;
        overflow: hidden;
        height: 500px;
        border-radius: 15px;
        display: none;
    }
    .biz .list ul li a .txt {
        position: relative;
        width: auto;
        bottom: auto;
        color: #1d1d1d;
        text-align: left;
    }
    .biz .list ul li a .txt h3 {
        position: relative;
        font-size: 24px;
        color: #1d1d1d;
    }
    .biz .list ul li a .txt h3 span::after {
        content: "";
        position: absolute;
        right: 0;
        top: 5px;
        width: 20px;
        height: 20px;
        background: url(../images/span_arrow.svg) no-repeat center center;
    }
    .biz .list ul li a .txt p {
        display: block;
        opacity: 1;
        color: #555;
    }
    .biz .list ul li a .txt p br {
        display: none;
    }
    .biz .list ul li a .txt p .mob {
        display: block;
    }
    .biz .list ul li:nth-child(even) {
        transform: translateY(0);
    }
}

.notice {
    background-color: #F3F6F9;
    margin: 110px 0 0 0;
}
.notice .wrapper {
    position: relative;
}
.notice .tit {
    padding: 174px 0 0 0;
}
.notice .tit .tit_GMarketSans {
    color: #1d1d1d;
    margin: 0 0 43px 0;
}
.notice .list ul {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    padding: 0 0 164px 0;
}
.notice .list ul li a {
    display: flex;
    background-color: #F3F6F9;
    justify-content: space-between;
    border: 1px solid #1d1d1d;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    height: 80px;
    align-items: center;
    padding: 0 35px 0 30px;
    transition: .3s;
}
.notice .list ul li a span {
    transition: .3s;
}
.notice .list ul li a .inner {
    color: #1d1d1d;
    display: flex;
    align-items: center;
    gap: 0 35px;
    transition: .3s;
    width: calc(100% - 150px); /* 넓이 100% - 날짜 공간 넓이(150px) = 100% - 150px */
}
.notice .list ul li a .inner h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice .list ul li a .inner strong {
    display: block;
    font-weight: 700;
    color: #fff;
    background-color: #004289;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
.notice .more a {
    font-size: 24px;
    font-weight: 700;
    color: #1d1d1d;
    position: absolute;
    right: 20px;
    top: 212px;
    padding: 10px 20px;
}
.notice .more a span {
    display: block;
}
.notice .more a::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 19px;
    width: 20px;
    height: 20px;
    background: url(../images/span_arrow.svg) no-repeat center center;
    transition: .5s;
}


@media screen and (max-width:768px){
    .notice {
        background-color: #fff;
        margin: 160px 0 0 0;
    }
    .notice .tit {
        width: calc(100% - 20px);
        padding: 0;
    }
    .notice .tit .tit_GMarketSans {
        color: #1d1d1d;
        margin: 0 0 40px 0;
    }
    .notice .list ul {
        gap: 16px 0;
        padding: 0;
    }
    .notice .list ul li a {
        background-color: #004289;
        border: 1px solid #004289;
        border-radius: 15px;
        box-shadow: none;
        align-items: center;
        padding: 14px 28px 14px 28px;
        transition: .3s;
    }
    .notice .list ul li:last-child {
        display: none;
    }
    .notice .list ul li a span {
        color: #fff;
        padding: 0 0 0 100px;
    }
    .notice .list ul li a .inner {
        gap: 0 15px;
        transition: .3s;
        width: 100%;
    }
    .notice .list ul li a .inner h3 {
        color: #fff;
    }
    .notice .list ul li a .inner strong {
        display: block;
        font-weight: 700;
        color: #fff;
        border-radius: 0;
        align-items: center;
    }
    .notice .more a {
        width: 30px;
        height: 30px;
    }
    .notice .more a span {
        display: none;
    }
    .notice .more a::after {
        right: -15px;
        top: -176px;
        width: 100%;
        height: 100%;
        background: url(../images/span_arrow.svg) no-repeat center center;
    }
}

.wepzine {
    margin: 150px 0 0 0;
    padding: 0 0 20px 0;
    overflow: hidden;
    position: relative; /* more 정렬의 기준 */
}
.wepzine .tit h2 {
    color: #1d1d1d;
}
.wepzine .list {
    /* width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    margin: 25px 0 0 0; */
    width: 1260px;
    margin: 52px auto 0 auto;
}
.wepzine .list .swiper {
    overflow: visible;
    /* margin: 0 24px 0 0; */
}
.wepzine .list .swiper-slide {
    width: 404px;
}
.wepzine .list .swiper-slide a {
    display: block;
    background-color: #F3F6F9;
    color: #555;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    height: 570px;
    transition: .3s;
}
.wepzine .list .swiper-slide a .photo {
    overflow: hidden;
    height: 304px;
    border-radius: 15px 15px 0 0;
}
.wepzine .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wepzine .list .swiper-slide a .txt {
    margin: 25px 33px 0 33px;
}
.wepzine .list .swiper-slide a .txt .cate {
    color: #00B4D7;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wepzine .list .swiper-slide a .txt h3 {
    font-size: 28px;
    color: #1d1d1d;
    margin: 15px 0 15px 0;

    line-height: 1.3;
    height: 2.6em; /* 행간 x 줄 수 = 단위는 em */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.wepzine .list .swiper-slide a .txt p {
    line-height: 1.5;
    height: 4.5em; /* 행간 x 줄 수 = 단위는 em */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.wepzine .more {
    position: absolute; /* wepzine을 기준으로 정렬 */
    right: calc(50% - 630px); /* 630px = wrapper의 절반 */
    top: 50px;
    font-size: 24px;
    font-weight: 700;
    color: #1d1d1d;

}
.wepzine .more a::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 9px;
    width: 20px;
    height: 20px;
    background: url(../images/span_arrow.svg) no-repeat center center;
    transition: .5s;
}
@media screen and (max-width:768px){
    .wepzine {
        margin: 168px 0 0 0;
        padding: 0 0 20px 0;
    }
    .wepzine .list {
        /* width: calc(50% + 630px);
        position: relative;
        left: calc(50% - 630px);
        margin: 25px 0 0 0; */
        width: auto;
        margin: 18px 16px 0 16px;
    }
    .wepzine .list .swiper {
        overflow: visible;
        /* margin: 0 24px 0 0; */
    }
    .wepzine .list .swiper-slide {
        width: 300px;
    }
    .wepzine .list .swiper-slide a {
        border-radius: 7px;
        height: 414px;
    }
    .wepzine .list .swiper-slide a .photo {
        height: 220px;
        border-radius: 7px 7px 0 0;
    }
    .wepzine .list .swiper-slide a .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
    .wepzine .list .swiper-slide a .txt {
        margin: 25px 15px 0 15px;
    }
    .wepzine .list .swiper-slide a .txt .cate {
        color: #fff;
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: #00B4D7;
        border-radius: 25px;
        padding: 5px 10px 5px 10px;
    }
    .wepzine .list .swiper-slide a .txt h3 {
        font-size: 24px;
        margin: 0 0 15px 0;
    }
    .wepzine .list .swiper-slide a .txt p {
        height: 3em; /* 행간 x 줄 수 = 단위는 em */
        -webkit-line-clamp: 2;
    }
    .wepzine .more {
        position: absolute; /* wepzine을 기준으로 정렬 */
        right: 40px;
        top: 34px;
        font-size: 24px;
        font-weight: 700;
        color: #1d1d1d;
    }
    .wepzine .more a {
        width: 30px;
        height: 30px;
    }
    .wepzine .more a span {
        display: block;
    }
    .wepzine .more a::after {
        right: -55px;
        top: 1px;
        width: 100%;
        height: 100%;
        background: url(../images/span_arrow.svg) no-repeat center center;
    }
}
.service {
    background-color: #F3F6F9;
    margin: 130px 0 0 0;
    padding: 174px 0 264px 0;
}
.service .tit .tit_GMarketSans {
    color: #1d1d1d;
    margin: 0 0 22px 0;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 16px);
    /* 100 나누기 한 줄에 들어가는 li의 갯수 = 100/3 = 33.33%
       한 줄의 여백의 합 나누기 한 줄에 들어가는 li의 갯수 = 48/3 = 16 */
       transition: .2s;
}
.service .list ul li a {
    position: relative;
    display: block;
    background-color: #fff;
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    padding: 33px 85px 33px 20px;
    height: 134px;
    align-items: center;
    transition: .2s;
}
.service .list ul li a::after {
    content: "";
    position: absolute;
    right: 20px;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #004289 url(../images/service_arrow.svg) no-repeat center center;
    transition: .5s;
}
.service .list ul li a strong {
    display: block;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.service .list ul li a h3 {
    font-size: 28px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 12px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:768px){
    .service {
        background-color: #fff;
        margin: 110px 0 0 0;
        padding: 0;
    }
    .service .tit .tit_GMarketSans {
        color: #1d1d1d;
        margin: 0 0 22px 0;
    }
    .service .list ul {
        flex-direction: column;
        gap: 16px 0;
    }
    .service .list ul li {
        width: auto;
        /* 100 나누기 한 줄에 들어가는 li의 갯수 = 100/3 = 33.33%
           한 줄의 여백의 합 나누기 한 줄에 들어가는 li의 갯수 = 48/3 = 16 */
    }
    .service .list ul li a {
        border-radius: 5px;
        padding: 38px 80px 38px 20px;
        height: 134px;
    }
    .service .list ul li a::after {
        right: 20px;
        top: 50px;
        width: 37px;
        height: 37px;
        background-size: 18px;
    }
    .service .list ul li a h3 {
        font-size: 20px;
    }
}

footer {
    background-color: #252525;
    color: rgba(255, 255, 255, 0.8);
    padding: 61px 0 75px 0;
}
footer .wrapper {
    position: relative;
}
footer .top {
    position: absolute;
    right: 0;
    top: -26px;
    width: 69px;
    height: 69px;
    color: #1d1d1d;
    background-color: #fff;
    border-radius: 13px;
    padding: 25px 0 0 0;
}
footer .top::before {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    width: 100%;
    height: 20px;
    background: url(../images/top_arrow.svg) no-repeat center center;
}
footer .f_nav ul {
    display: flex;
    flex-wrap: wrap; /* 모바일 줄바꿈 */
    gap: 5px 40px;
}

footer .f_nav ul li .privacy,
footer .f_nav ul li .edu {
    font-weight: 700;
}
footer .f_nav ul li {
    position: relative;
}
footer .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 6px;
    width: 1px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}
footer .f_nav ul li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: .5s;
}
footer .f_nav ul li:hover::before {
    width: 100%;
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .f_info {
    display: flex;
    flex-wrap: wrap; /* 모바일 줄바꿈 */
    gap: 5px 40px;
    margin: 28px 0 28px 0;
    font-size: 13px;
}
footer .copyright {
    color: rgba(255, 255, 255, 0.5);
}


@media screen and (max-width:768px){
    footer {
        padding: 36px 0 36px 0;
    }
    footer .top {
        top: -20px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        padding: 0;
    }
    footer .top span {
        display: none;
    }
    footer .top::before {
        left: 0;
        top: 5px;
        background-size: 15px;
    }
    footer .f_nav {
        font-size: 13px;
        margin: 0 50px 0 0;
    }
    footer .f_info {
        margin: 12px 0 12px 0;
        font-size: 13px;
    }
    footer .copyright {
        font-size: 13px;
    }
}