/***********************
* 파일명 : layout.css 
* 작성자 : 김영상
* 작성일 : 25-11-20
* 설  명 : header/footer 스타일을 선언함
*********************/

header{
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    display: none;
}