/* 모든 페이지에서 기본 스타일 초기화 */
body {
    font-family: "pretendard", "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", "Helvetica", "AppleSDGothicNeo", "sans-serif";
    /* 프리텐다드 적용이 불가능하다면 위 순서대로 폰트 적용을 유도하는 것, sans-serif = 다 안되면 최후의 보루로 고딕체 아무거나 적용 */
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    word-break: keep-all;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}